{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'CountITapp/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>"Added Equipment"</title>
    <style>

    </style>
</head>

<body>

    <div id="logo" class="col-sm-6 banner-image">
        <img src="{% static 'CountITapp/images/Logo_CountITapp.png' %}" class="img-responsive">
    </div>
    <div id="font_fun">
        <h2 style="color:blue;"><i> Add IT Inventory Page:</i></h2>
        <form action="{% url 'CountITapp:add_equipment_post' %}" method="POST">
            {% csrf_token %}
            <label for="id_equipment_name">Equipment name:</label>
            <input class="form-control" type="text" name="equipment_name" maxlength="75" id="Equiname" required>
            <label for="id_equipment_model">Equipment model:</label>
            <input class="form-control" type="text" name="equipment_model" maxlength="30" id="equimodel" required>
            <label for="id_asset_tag">Asset tag:</label>
            <input class="form-control" type="text" name="asset_tag" maxlength="20" id="id_asset_tag" required>
            <label for="id_service_tag">Service tag:</label>
            <input class="form-control" type="text" name="service_tag" maxlength="30" id="id_service_tag" required>
            <label for="id_purchase_date">Purchase date:</label>
            <input class="form-control" type="date" name="purchase_date" id="id_purchase_date" required>
            <label for="id_expiration_date">Expiration date:</label>
            <input class="form-control" type="date" name="expiration_date" id="id_expiration_date" required>
            <label for="id_quantity">Quantity:</label>
            <input class="form-control" type="number" name="quantity" value="0" id="id_quantity">
            <label for="id_comments">Comments:</label><textarea name="comments" cols="40" rows="10" maxlength="200" class="form-control" id="id_comments"></textarea>

            <div class="form-group">
                <input class="btn btn-primary" type="submit" value="Save">
            </div>
        </form>
    </div>

    <!-- add add function to view.py -->
    <!-- add a form to add IT items -->
    <!-- add a search button -->
    <!-- add a back button to the home page -->

    <div id="footer">
        <p>Created by: Vladimir Antigua 30 Jun 2020</p>
    </div>

</body>


</html>