{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>IT Item Detail</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'CountITapp/style.css' %}">

    <style>
        /* #back {
            margin-left: 96px;
        }
        
        .table {
            margin-left: 96px;
        }
        
        .number {
            margin-left: 96px;
        }
        
        .container {
            margin-left: 96px;
        } */
    </style>
</head>

<body>

    {% comment %}
    <!-- enable the logo later -->
    <!-- <div id="logo" class="col-sm-6 banner-image"> -->
    <!-- <img src="{% static 'CountITapp/images/Logo_CountITapp.png' %}" class="img-responsive"> --> {% endcomment %}
    </div>
    <div class="container">
        <h2 style="color:blue;"><i>IT Inventory Detail Page:</i></h2>
        {% comment %} GET method is needed here to be able to redirect to the edit equipment view having a post will crash the page having Get will allow this line in the view.py under the edit_equipment view context = {
        'item': inventory then it will to the edit equipment template so the item can be updated:  return return render(request, 'CountITapp/edit_equipment.html', context)
    } {% endcomment %}
        <form class="p-1" action="{% url 'CountITapp:edit_equipment' item.id %}" method="get">
            {% csrf_token %}

            <div class="container">
                <h2>Detail Page</h2>
                <div class="form-group">
                    <label for="equiname"> Equipment Name:</label>
                    <input type="text" class="form-control" id="Equiname" value="{{ item.equipment_name }}"
                        name="equipment_name" required />
                    <!-- We do not need a placeholder here because the form is already created and this is -->
                    <div class="valid-feedback">Valid.</div>
                    <div class="invalid-feedback">Please fill out this field.</div>
                </div>
                <div class="form-group">
                    <label for="equimodel">Equipment Model:</label>
                    <input type="text" class="form-control" id="equimodel" value="{{ item.equipment_model }}"
                        name="equipment_model" required />
                    <div class="valid-feedback">Valid.</div>
                    <div class="invalid-feedback">Please fill out this field.</div>
                </div>
                <div class="form-group">
                    <label for="atag">Asset Tag</label>
                    <input type="text" class="form-control" id="atag" value="{{ item.asset_tag }}" name="asset_tag"
                        required />
                    <div class="valid-feedback">Valid.</div>
                    <div class="invalid-feedback">Please fill out this field.</div>
                </div>
                <div class="form-group">
                    <label for="stag">Service Tag</label>
                    <input type="text" class="form-control" id="stag" value="{{ item.service_tag }}" name="service_tag "
                        required />
                    <!-- <div> {{ item.service_tag }}</div> -->
                    <div class="valid-feedback">Valid.</div>
                    <div class="invalid-feedback">Please fill out this field.</div>
                </div>
                <div class="form-group">
                    <label for="pdate">Purchase Date</label>
                    <input type="date" class="form-control" id="pdate" value="{{ item.purchase_date|date:'Y-m-d'}}"
                        name="purchase_date" required />
                    <!-- <div> {{ item.purchase_date}}</div> -->
                    <div class="valid-feedback">Valid.</div>
                    <div class="invalid-feedback">Please fill out this field.</div>
                </div>
                <div class="form-group">
                    <label for="edate">Expiration Date</label>
                    <input type="date" class="form-control" id="edate" value="{{ item.expiration_date|date:'Y-m-d'}}"
                        name="expiration_date" required />
                    <div class="valid-feedback">Valid.</div>
                    <div class="invalid-feedback">Please fill out this field.</div>
                </div>
                <div class="form-group">
                    <label for="qty">Quantity</label>
                    <input type="text" class="form-control" id="qty" value="{{ item.quantity}}" name="quantity"
                        required />
                    <div class="valid-feedback">Valid.</div>
                    <div class="invalid-feedback">Please fill out this field.</div>
                </div>

                <div class="form-group">
                    <label for="comments">Comments:</label>
                    <textarea class="form-control" id="comm" name="comments"> {{item.comments}}</textarea>
                </div>
            </div>

{% comment %} the css for the btn primary
#detail_page {
    margin: 10px 180px 40px 100px;
    box-shadow: 7px 7px 12px rgb(235, 6, 6);
} {% endcomment %}
            <button id="btn-primary" type="submit" class="btn btn-primary">Update Inventory</button>
        </form>

        <!-- make this a link back button -->
        <form action="{% url 'CountITapp:equipment' %}" method="GET">
            <!-- <form action="{% url 'CountITapp:index' %}" method="get"> -->
            {% csrf_token %}

            <button id="btn-primary"type="submit" class="btn btn-primary">Go Back to Equipment Page</button>

        </form>

    </div>
    <!-- add the footer later because in blocking the back button  -->
    <!-- <footer id="footer">
        <hr />
        <span>&copy; Created by: Vladimir Antigua 30 Jun 2020 </span>
    </footer> 

</body>

</html>












        {% comment %} <div id="logo" class="col-sm-6 banner-image"> -->
    <img src="{% static 'CountITapp/images/Logo_CountITapp.png' %}" class="img-responsive"> -->
    </div>
    <label for="id_equipment_name">Equipment name:</label>
    <input class="form-control" type="text" {{ item.equipment_name }}>
    <label for="id_equipment_model">Equipment model:</label>
    <input class="form-control" type="text" {{ item.equipment_model }}>
    <label for="id_asset_tag">Asset tag:</label>
    <input class="form-control" type="text" {{ item.asset_tag }}>
    <label for="id_service_tag">Service tag:</label>
    <input class="form-control" type="text" {{ item.service_tag }}>
    <label for="id_purchase_date">Purchase date:</label>
    <input class="form-control" type="date" {{ item.purchase_date|date:'Y-m-d'}}>
    <label for="id_expiration_date">Expiration date:</label>
    <input class="form-control" type="date" {{ item.expiration_date|date:'Y-m-d'}}>
    <label for="id_quantity">Quantity:</label>
    <input class="form-control" type="number" {{ item.quantity}}value="0">
    <label for="id_comments">Comments:</label><textarea {{item.comments}}></textarea>

    <a href="{% url 'CountITapp:edit_equipment' item.id %}">Click to Update Inventory</a>
    <a href="{% url 'CountITapp:equipment' %}">Back to Equipment Page</a> {% endcomment %}

    {% comment %} <button type="submit" class="btn btn-primary">Update Inventory</button>


    <button type="submit" class="btn btn-primary">Go Back to Equipment Page</button> {% endcomment %}