{% extends 'CountITapp/base.html' %} 
{% load static %} 
{% block title %} Equipment Page {% endblock %}
{% block content %}

    <div id="equipment_title">
        <h1>Equipment Page</h1>
    </div>

    <!-- to add a message after the user have logged in use the Welcome message Welcome to "CountIT", {{user.username}} -->
    
    <div class="p-5" class="container">
        <h2 style="color:blue;"><i>IT Inventory Equipment Page:</i></h2>
        <!-- add a search button at the top -->



        <div>
            <form action="{% url 'CountITapp:equipment' %}" method="POST">
                {% csrf_token %}
                <input type="text" placeholder="Search IT equipment" name="q" id="id">
                <!-- Search button at the top of the Index - Home Page-->
                <button type="submit" class="btn btn-primary">search</button>
            </form>
        </div>
        <div class="row">


            <div class="col-6">
                <h2 style="color:blue;"><i>Search Results:</i></h2>
                {% for inventory in query %}
                <div>

                    <!-- <img src="{{inventory.image_front}}"> -->
                    <a href="{% url 'CountITapp:detail' inventory.id %}"> {{inventory.equipment_name}}</a>

                </div>
                {% endfor %}
            </div>

            <table class="table">
                <thead>
                    <tr>

                        <th>Equipment Name</th>
                        <th>Equipment Model</th>
                        <th>Asset Tag </th>
                        <th>Service Tag</th>
                        <th>Purchase Date</th>
                        <th>Expiration Date</th>
                        <th>Quantity</th>

                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}

                    <tr {% if item.quantity == 0 %} style="background-color: red;" {% endif %}
                    {% if item.quantity <= 30 %} style="background-color: yellow;" {% endif %}
                    {% if item.quantity >= 50 %} style="background-color: green;" {% endif %}>
                    
                        <td><a href="{% url 'CountITapp:detail' item.id %}"> {{item.equipment_name}}</a></td>
                        <td>{{ item.equipment_model }}</td>
                        <td>{{ item.asset_tag }}</td>
                        <td>{{ item.service_tag }}</td>
                        <td>{{ item.purchase_date }}</td>
                        <td>{{ item.expiration_date }}</td>
                        <td>{{ item.quantity }}</td>
                            <!-- <td><img src="{{laptop.image_front}}"></td>-->

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


    <!-- the class="p-1" this allow me to click the add equipment button without interrupting with the footer -->
    <div class="p-1">

        <a href="{% url 'CountITapp:add_equipment' %}">
            <button id="back" class="btn btn-primary">Add IT Equipment</button>
        </a>

    </div>
    <!-- class="btn btn-primary bottom" btn btn-primary is a bootstrap class mean the style come from bootstrap while bottom is like own id to change the css is my own and I can go in the style css and add the following .bottom {
        margin-bottom: 80px;
    } -->
    <a id="back" href="{% url 'CountITapp:index' %}" class="btn btn-primary bottom">Go Back to the Home Page</a>
    <!-- Pagination on the div below =  https://simpleisbetterthancomplex.com/tutorial/2016/08/03/how-to-paginate-with-django.html-->

     <div class="pagi">
        {% if items.has_previous %}
        <a id="pagi_num"class="btn btn-first" href="?page={{items.previous_page_number}}">&laquo;</a> {% endif %}
     
        <span id="paginum">{{items.number}}</span> {% if items.has_next %}
        <a id="pagi_num" class="btn btn-second" href="?page={{items.next_page_number}}">&raquo;</a> {% endif %}

    </div>

{% endblock %}