{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'CountITapp/style.css' %}">
    <title>IT Equipment Page</title>

    <style>
        #back {
            margin-left: 96px;
        }
        /* .table {
            margin-left: 5px;
        } */
        
        .number {
            margin-left: 96px;
        }
        
        .container {
            margin-left: 96px;
        }
    </style>
</head>
<!-- make this login require -->

<body>
    <h1>Equipment Page</h1>
    <div id="home_logo" class="col-sm-6 banner-image">
        <img src="{% static 'CountITapp/images/background_inventory15.png' %}" class="img-responsive">
    </div>
    <!-- to add a message after the user have logged in use the Welcome message Welcome to "CountIT", {{user.username}} -->
    <div id="welcome_home">
        <h3>Welcome to "CountIT", {{user.username}}</h3>
        <a href="{% url 'CountITapp:logout_user' %}">logout</a>

    </div>
    <div class="p-5" class="container">
        <h2 style="color:blue;"><i>IT Inventory Equipment Page:</i></h2>
        <!-- add a search button at the top -->



        <div>
            <form action="{% url 'CountITapp:equipment' %}" method="POST">
                {% csrf_token %}
                <input type="text" placeholder="Search IT equipment" name="q" id="id">
                <!-- Search button at the top of the Index - Home Page-->
                <button type="submit" class="btn btn-primary">search</button>
            </form>
        </div>
        <div class="row">


            <div class="col-6">
                <h2 style="color:blue;"><i>Search Results:</i></h2>
                {% for inventory in query %}
                <div>

                    <!-- <img src="{{inventory.image_front}}"> -->

                    <a href="{% url 'CountITapp:detail' inventory.id %}"> {{inventory.equipment_name}}</a>
                </div>
                {% endfor %}
            </div>

            <table class="table">
                <thead style="color:white" ;>
                    <tr>

                        <th>Equipment Name</th>
                        <th>Equipment Model</th>
                        <th>Asset Tag </th>
                        <th>Service Tag</th>
                        <th>Purchase Date</th>
                        <th>Expiration Date</th>
                        <th>Quantity</th>

                    </tr>
                </thead>
                <tbody style="color:white" ;>
                    {% for item in items %}

                    <tr>
                        <tr class="number"></tr>
                        <td>{{ item.equipment_name }}</td>
                        <td>{{ item.equipment_model }}</td>
                        <td>{{ item.asset_tag }}</td>
                        <td>{{ item.service_tag }}</td>
                        <td>{{ item.purchase_date }}</td>
                        <td>{{ item.expiration_date }}</td>
                        <td>{{ item.quantity }}</t>
                            <!-- <td><img src="{{laptop.image_front}}"></td>-->

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


    <!-- the class="p-1" this allow me to click the add equipment button without interrupting with the footer -->
    <div class="p-1">

        <a href="{% url 'CountITapp:add_equipment' %}">
            <button id="back" class="btn btn-primary">Add IT Equipment</button>
        </a>

    </div>
    <!-- class="btn btn-primary bottom" btn btn-primary is a bootstrap class mean the style come from bootstrap while bottom is like own id to change the css is my own and I can go in the style css and add the following .bottom {
        margin-bottom: 80px;
    } -->
    <a id="back" href="{% url 'CountITapp:index' %}" class="btn btn-primary bottom">Go Back to the Home Page</a>

    <div id="footer">
        <p>Created by: Vladimir Antigua 10 Jul 2020</p>
    </div>
</body>

</html>