{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'CountITapp/style.css' %}">
    <title>Home Page</title>
</head>

<body>
    <h1>Home Page</h1>
    <div id="home_logo" class="col-sm-6 banner-image">
        <img src="{% static 'CountITapp/images/background_inventory15.png' %}" class="img-responsive">
    </div>
    <!-- to add a message after the user have logged in use the Welcome message Welcome to "CountIT", {{user.username}} -->
    <div id="welcome_home">
        <h3>Welcome to "CountIT", {{user.username}}</h3>
        <a href="{% url 'CountITapp:logout_user' %}">logout</a>
    </div>
    <!-- add a search button at the top -->
    <div id="footer">
        <p>Created by: Vladimir Antigua 30 Jun 2020</p>
    </div>
</body>

</html>