{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'CountITapp/style.css' %}">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>"Count IT"</title>
    <style>
        /* copy css from external file over*/
        /* replace hard-coded path for image with {% static ... %}*/
        /* test it in your browser */
    </style>
</head>

<body>

    <div id="logo" class="col-sm-6 banner-image">
        <img src="{% static 'CountITapp/images/Logo_CountITapp.png' %}" class="img-responsive">
    </div>
    <div id="font_fun">


        <ul>
            {% for inventory_item in inventory_items %}
            <li>{{ inventory_item.service_tag }}</li>
            {% endfor %}
        </ul>
    </div>
</body>

</html>