{% extends 'CountITapp/base.html' %} 
{% load static %} 
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'CountITapp/style.css' %}">
    <title>Login Page</title>
</head>

<body>
{% block content %}
<h1>Welcome to CountIT!</h1>
    <div id="login_logo" class="col-sm-6 banner-image">
        <img src="{% static 'CountITapp/images/Logo_CountITapp.png' %}" class="img-responsive">
    </div>

    <h1>Login</h1>
    {% if message %}
    <!-- the id="message" is not changing the color of the message I applied on the style.css find out why -->
    <div id="message">{{message}}</div>
    {% endif %}
    <form class="p-5" action="{% url 'CountITapp:login_page' %}" method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Enter your email as the Username" required />
        <input type="password" name="password" placeholder="Password" required />
        <button class="btn btn-primary"type="submit">login</button>
    </form>
    <div class="form-control" id="btn-primary"  >Don't have an account? <a href="{% url 'CountITapp:register_page' %}">Register</a></div>
    <footer id="footer">
        <hr />
        <span>&copy; Created by: Vladimir Antigua 30 Jun 2020 </span>
    </footer>
{% endblock %}
</body>


</html>





