{% extends 'CountITapp/base.html' %} 
{% load static %} 

{% block content %}
<h1 id="welcome_login">Welcome to CountIT!</h1>
    <div id="login_logo" class="col-sm-6 banner-image">
        <img src="{% static 'CountITapp/images/Logo_CountITapp.png' %}" class="img-responsive">
    </div>

    <h1 id="welcome_login">Login</h1>
    {% if message %}
    <!-- the id="message" is not changing the color of the message I applied on the style.css find out why -->
    <div id="message">{{message}}</div>
    {% endif %}
    <form class="p-5" action="{% url 'CountITapp:login_page' %}" method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Enter your email as the Username" required />
        <input type="password" name="password" placeholder="Password" required />
        <button class="btn btn-primary"type="submit">login</button>
       
    </form>
    <label class="p-5">
        <input  type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
       </label>
    <div class="form-control" id="regi_footer"  >Don't have an account? <a href="{% url 'CountITapp:register_page' %}">Register</a></div>
{% endblock %}





