{% extends 'CountITapp/base.html' %} 
{% load static %} 
{% block title %} Edit Profile Page {% endblock %}
{% block content %}

    <!-- recaptcha -->
    <!-- <script src="https://www.google.com/recaptcha/api.js" async defer></script>-->

    {% comment %} {% if message %}
    <div class="message">{{message}}</div>
    {% endif %}
    </div>
   {% endcomment %}

    <form action="{% url 'CountITapp:profile_page' %}" method="post">
        {% csrf_token %}

        <div class="container">
            <h1>Edit Profile Page</h1>
            <p>Please edit this form to update your login profile.</p>
            <hr>

            <label for="username"><b>Username</b></label>
            <input type="text" placeholder="Enter an Email as the Username"value="{{user.username}}" name="username" id="email" required>

            <label for="email"><b>Email</b></label>
            <input type="text" placeholder="Enter Email" name="email" value="{{user.email}}"id="email" required>

            {% comment %} <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password"  name="password" id="psw" required> {% endcomment %}
            {% comment %} <label for="psw-repeat"><b>Repeat Password</b></label>
            <input type="password" placeholder="Repeat Password" name="retype_password" id="psw-repeat" required>  {% endcomment %}
            {% comment %} <label for="psw-repeat"><b>Repeat Password</b></label>
            <input type="password" placeholder="Repeat Password" name="retype_password" value="{{user.password}}" id="psw-repeat" required> {% endcomment %}
            <hr>
            <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
            
            <button type="submit" id="btn_submit">Edit Profile</button>
            
        </div>

        
    </form>
  


    </script>
{% endblock %}