li a {
    color: green;
}

#logo {
    background-size: cover;
    margin: 1px 180px 40px 100px;
    margin-left: 1px;
}

#logo {
    position: fixed;
    top: 0;
    left: 0;
}

#register_logo {
    background-size: cover;
    margin: 1px 180px 40px 100px;
    margin-right: 1px;
}

#register_logo {
    position: fixed;
    top: 0;
    right: 0;
}

#login_logo {
    background-size: cover;
    margin: 1px 180px 40px 100px;
    margin-right: 1px;
}

#login_logo {
    position: fixed;
    top: 0;
    right: 0;
}

#message:hover {
    font-style: italic;
    font-size: 20px;
    background: transparent;
    border: none;
    color: black;
    box-shadow: 7px 7px 12px rgb(235, 6, 6);
    transition: 0.5s;
}

#home_logo {
    background-size: cover;
    margin: 1px 180px 40px 100px;
    margin-right: 1px;
}

#home_logo {
    position: fixed;
    top: 0;
    right: 0;
}

body {
    background: white url("images/background_inventory2.jpeg") no-repeat;
    padding-right: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

#font_fun {
    font-size: medium;
    color: white;
    margin: 310px 180px 40px 100px;
    /* box-shadow: 7px 7px 12px rgb(235, 6, 6); */
}


/* #btn-primary {
    margin: 10px 180px 40px 100px;
    box-shadow: 7px 7px 12px rgb(235, 6, 6);
} */

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    font-size: 20px;
    font-style: italic;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

* {
    box-sizing: border-box;
}


/* Add padding to containers */

.container {
    padding: 16px;
    background-color: white;
}


/* Full-width input fields */

input[type=text],
input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus,
input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}


/* Overwrite default styles of hr */

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}


/* Set a style for the submit button */

.registerbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.registerbtn:hover {
    opacity: 1;
}


/* Add a blue text color to links */

a {
    color: dodgerblue;
}


/* Set a grey background color and center the text of the "sign in" section */

.signin {
    background-color: #f1f1f1;
    text-align: center;
}